<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugasmoop.projectsoftwareengineering">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectSoftwareEngineering">
        <activity
            android:name=".TransactionHistory"
            android:exported="false" />
        <activity
            android:name=".ShowOrder"
            android:exported="false" />
        <activity
            android:name=".TransactionPage"
            android:exported="false" />
        <activity
            android:name=".SchedulePage"
            android:exported="false" />
        <activity
            android:name=".DetailServicer"
            android:exported="false" />
        <activity
            android:name=".ShowFavorite"
            android:exported="false" />
        <activity
            android:name=".ShowHistory"
            android:exported="false" />
        <activity
            android:name=".ShowCategory"
            android:exported="false" />
        <activity
            android:name=".PendingPage"
            android:exported="false" />
        <activity
            android:name=".UploadDataPage"
            android:exported="false" />
        <activity
            android:name=".ShowProfile"
            android:exported="false" />
        <activity
            android:name=".ServicerProfilePage"
            android:exported="false" />
        <activity
            android:name=".OfferPage"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>